.pagination {
  width: fit-content;
  max-width: 90%;
  min-height: 40px;
  height: fit-content;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #858585;
}

.pagination__list {
  list-style-type: none;
  width: fit-content;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pagination__button {
  width: 40px;
  height: 40px;
  margin: auto 5px;
  padding: 0;
  border: 1px solid #858585;
  background-color: transparent;
  border-radius: 50%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-style: bold;
  font-size: 16px;
  line-height: 18px;
  color: black;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  text-align: center;
}
.pagination__button_active {
  background-color: rgba(1, 155, 122, 0.459);
}

.pagination__button:hover {
  background-color: rgba(221, 221, 221, 0.425);
}

.pagination__button_type_nav {
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  background-color: rgba(1, 155, 122, 0.171);
}

.pagination__button_type_nav:hover {
  background-color: rgba(1, 155, 122, 0.459);
}

@media screen and (max-width: 1315px) {
  .pagination__button {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .pagination__button_type_nav {
    width: 40px;
    height: 40px;
    font-size: 11px;
    line-height: 12px;
  }
}